@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Monstserrat', sans-serif;
    overflow-x: hidden;

}

#menu a{
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu button {
    font-size: 18px;
    font-weight: bold;
   
}

/*IMAGENES*/

.carousel-inner {
    max-height: 39rem;
}

/*Pantalla mediana*/

@media (max-width:768px) {
    #intro {
        width: 90% !important;
    }

    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }

  
}



/*Pantalla mediana*/

@media (max-width:576px) {
    

    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

/*Background*/
#bg-contacto{
    position: relative;
    top: -130px;
}

#seccion-contacto{
    background-color:rgb(240, 238, 238);
    min-height: 500px;
    position: relative;
}
